/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@500;600&display=swap');

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Bhai 2', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    text-align: relative;
}

.social-links a{
    color: aqua;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-bottom: 3px solid #4CAF50;
    animation: slideDown 1s ease-in-out;
}

header h1 {
    font-size: 2rem;
    animation: fadeIn 1s;
}

header p {
    font-size: 1.2rem;
    animation: fadeIn 1s;
}

section {
    padding: 20px;
}

#about {
    background-color: #fff;
    font-weight: 200;
}

#projects {
    background-color: #f7f7f7;
}

#experience {
    background-color: #f7f7f7;
}

#Skills{
    background-color: #f7f7f7;
}

.Skills h3 {
    font-size: 1.5rem;
    color: #4CAF50;
}

.Skills p {
    font-size: 1.2rem;
}

.Skills:hover {
    transform: scale(1.03);
}

.Skills {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    animation: fadeIn 1s;
    transition: transform 0.3s;
}

.experience {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    animation: fadeIn 1s;
    transition: transform 0.3s;
}

.experience h3 {
    font-size: 1.5rem;
    color: #4CAF50;
}

.experience p {
    font-size: 1.2rem;
}

.experience:hover {
    transform: scale(1.03);
}



.project {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    animation: fadeIn 1s;
    transition: transform 0.3s;
}

.project h3 {
    font-size: 1.5rem;
    color: #4CAF50;
}

.project p {
    font-size: 1.2rem;
}

.project:hover {
    transform: scale(1.03);
}

#contact {
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    animation: slideUp 1s ease-in-out;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 1rem;
    }

    .project h3 {
        font-size: 1.2rem;
    }

    .project p {
        font-size: 1rem;
    }

    footer {
        font-size: 0.8rem;
    }
}

/* Keyframes for animations */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
